/*basic*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

/*google map*/
#map_wrapper {
  padding: 0 !important;
}
#googleMap {
  width: 100vw;
  height: 70vh;
}

/**/
.brief_logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
}