/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css);


// Variable------------------------------------------------------------------------------------ Variable
$mainFont: Meiryo, "Meiryo UI", "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;


// Basic------------------------------------------------------------------------------------ Basic
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $mainFont;
}
* {
  box-sizing: border-box;
}


// Google map------------------------------------------------------------------------------------ Google map
#map_wrapper {
  padding: 0 !important;
  overflow: hidden;
  #googleMap {
    width: 100vw;
    height: 70vh;
    border-bottom: 1px solid rgba(50,50,50,0.2);
  }
}
.menu_wrapper {
  padding: 15px;
  height: 70vh;
  box-shadow: 1px 1px 3px rgba(50,50,50,0.1);
  border-bottom: 1px solid rgba(50,50,50,0.2);
  .brief_logo {
    width: 100px;
    background: rgba(255,255,255,1);
    padding: 1.5%;
    border-radius: 4px;
  }
  ul {
    text-align: center;
    margin-top: 1em;
    padding: 0 !important;
    li {
      cursor: pointer;
      background: rgba(70,70,70,0.1);
      border-radius: 2px;
      margin-top: 5px;
      padding: 2%;
      display: block;
    }
  }
  ul:before {
    content: "";
    position: absolute;
    top: 0;
  }
  .link_wrapper {
    text-align: center;
    a {
      display: block;
    }
  }
}


// Brief------------------------------------------------------------------------------------ Brief
.brief_wrapper {
	text-align: center;
}